/* MAIN LAYOUT */

@view-transition {
    navigation: auto;
  }

main > *,
form > *,
dialog * { 
    margin-block: var(--size-2);
 }

main {
    margin: var(--size-2) auto;
    width: fit-content;
    padding-inline: var(--size-2);
}

nav {
    background: var(--purple-6);
}

.log-button-wrapper {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: var(--font-size-2);
}

.balance {
    font-size: var(--font-size-5)
}

/* NAV */

nav ul {
    display: flex;
    justify-content: space-between;
    padding-block: var(--size-2);
}

.main-nav ul {
    padding-inline: var(--size-8);
}

.pager-nav ul {
    padding-inline: var(--size-2);
    justify-content: space-between;
}

.pager-nav li {
    padding-inline: 0;
}

.pager-nav .previous,
.pager-nav .next {
    flex: 1;
}

.pager-nav .next {
    text-align: right;
}

nav li {
    list-style: none;
}

nav, 
nav a {
    color: var(--gray-0);
}


/* TABLE */

table {
    width: 100%;
}

.play td,
.log-play-button {
    background: var(--blue-1);
}

.work td,
.log-work-button {
    background: var(--green-1);
}

.play .time-value::before {
    content: "-";
}

td {
    text-align: left;
}

.time-value {
    text-align: right;
}


/* DIALOGS */

.dialog-close {
    display: block;
    margin-left: auto;
    margin-bottom: var(--size-8);
}