/* MAIN LAYOUT */

@view-transition {
    navigation: auto;
  }

main > *,
form > * { 
    margin-block: var(--size-2);
 }

main {
    margin: var(--size-2) auto;
    width: fit-content;
    padding-inline: var(--size-2);
}

nav {
    background: var(--blue-7);
}

.log-button-wrapper {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: var(--font-size-2);
}

.balance {
    font-size: var(--font-size-5)
}

/* NAV */

nav ul {
    display: flex;
    justify-content: space-between;
    padding-block: var(--size-2);
}

.main-nav ul {
    padding-inline: var(--size-8);
}

.pager-nav ul {
    padding-inline: var(--size-2);
    justify-content: space-between;
}

.pager-nav li {
    padding-inline: 0;
}

.pager-nav .previous,
.pager-nav .next {
    flex: 1;
}

.pager-nav .next {
    text-align: right;
}

nav li {
    list-style: none;
}

nav, 
nav a {
    color: var(--gray-0);
}


/* TABLE */

table {
    width: 100%;
}

.play td {
    background: var(--blue-0);
}

.work td,
.log-work-button {
    background: var(--green-1);
}

.play .time-value::before {
    content: "-";
}

td {
    text-align: left;
}

.time-value {
    text-align: right;
}


/* DIALOGS */

.dialog-close {
    display: block;
    margin-left: auto;
    margin-bottom: var(--size-8);
}

.timer-wrapper {
    display: flex;
    justify-content: end;
    gap: 0.5em;
    align-items: center;
}

#timer-start-button,
#timer-stop-button
 {
    font-size: var(--font-size-0)
}

dialog {
    transition: opacity 0.25s;
    opacity: 0;
  
    &[open] {
      opacity: 1;
  
      @starting-style {
        opacity: 0;
      }
    }
  }


/* FORMS */
label {
    display: block;
}

.log-play-button {
    background: var(--blue-7);
    color: white;
    text-shadow: none;
}

.log-work-button {
    background: var(--green-7);
    color: white;
    text-shadow: none;
}