{% extends "layout.html" %}

{% block content %}

  <h1>{{ username }}'s log</h1>

  <p class="balance">Balance: {{ balance }} minutes</p>
  
  {% if page_obj %}
  <table>
    {% for item in page_obj %}
    <tr class="{{item.type}}">
        <td>{{ item.log_name }}</td>
        <td>{{ item.date_logged|date:"SHORT_DATE_FORMAT" }}</td>
        <td class="time-value">{{ item.time_value }}</td>
    </tr>
    {% endfor %}
    </table>
  {% endif %}

  {% if page_obj.paginator.num_pages > 1 %}
    <nav class="pager-nav" aria-label="Post pages">
      <ul class="pagination">
          <li class="previous">
            {% if page_obj.has_previous %}<a class="page-link backwards" href="?page={{ page_obj.previous_page_number }}">Previous</a>{% endif %}
          </li>
        <li class="page-item active" aria-current="page"><span class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>
        <li class="next">
          {% if page_obj.has_next %}<a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>{% endif %}
        </li>
      </ul>
    </nav>
  {% endif %}
  
{% endblock %}