{% extends "layout.html" %}

{% block content %}

  <h1>Hello, {{ user.username }}</h1>

  <p>Balance: {{ balance }}</p>

  <div class="log-button-wrapper">
    <button onclick="document.getElementById('log-work-dialog').showModal()">Log chore</button>
    <button onclick="document.getElementById('log-play-dialog').showModal()">Log play</button>
  </div>
  
  {% if log_items %}
  <table>
    {% for item in log_items %}
    <tr class="{{item.type}}">
        <td>{{ item.log_name }}</td>
        <td>{{ item.date_logged }}</td>
        <td>{{ item.time_value }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  <a href="{% url 'full-log' username=user.username %}" class="btn">View Full Log</a>

  <dialog id="log-work-dialog">
    <button class="dialog-close" autofocus onclick="this.closest('dialog').close()">Close</button>
    <form action="{% url 'log_chore' %}" method="post">
      {% csrf_token %}
      {{ log_work_form }}
      <input type="submit">
    </form>
  </dialog>

  <dialog id="log-play-dialog">
    <button class="dialog-close" autofocus onclick="this.closest('dialog').close()">Close</button>
    <form action="{% url 'log_play' %}" method="post">
      {% csrf_token %}
      {{ log_play_form }}
      <input type="submit">
    </form>
  </dialog>

  {% if log_items %}
  <datalist id="game-titles">
    {% for item in log_items %}
      {% if item.type == 'play' %} 
        <option>{{ item.log_name }}</option>
      {% endif %}
    {% endfor %}
  </datalist>
  {% endif %}
  
{% endblock %}