{% extends "layout.html" %}

{% block content %}

  <h1>Hello, {{ user.username }}</h1>

  <p class="balance">Balance: {{ balance }} minutes</p>

  <div class="log-button-wrapper">
    <button class="log-work-button" onclick="document.getElementById('log-work-dialog').showModal()">Log chore</button>
    <button class="log-play-button" onclick="document.getElementById('log-play-dialog').showModal()">Log play</button>
  </div>
  
  {% if log_items %}
  <table>
    {% for item in log_items %}
    <tr class="{{item.type}}">
        <td>{{ item.log_name }}</td>
        <td>{{ item.date_logged|date:"SHORT_DATE_FORMAT" }}</td>
        <td class="time-value">{{ item.time_value }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  <a href="{% url 'full-log' username=user.username %}" class="btn">View Full Log</a>

  <dialog id="log-work-dialog">
    <button class="dialog-close" autofocus onclick="this.closest('dialog').close()">Close</button>
    <form action="{% url 'log_chore' %}" method="post">
      {% csrf_token %}
      {{ log_work_form }}
      <input type="submit">
    </form>
  </dialog>

  <dialog id="log-play-dialog">
    <button class="dialog-close" autofocus onclick="this.closest('dialog').close()">Close</button>
    <form action="{% url 'log_play' %}" method="post">
      {% csrf_token %}
      {{ log_play_form }}

      <!-- TIMER -->
      <div class="timer-wrapper">
        <div id="timer-stopwatch"><span id="timer-stopwatch__minutes">00</span>:<span id="timer-stopwatch__seconds">00</span></div>
        <button type="button" id="timer-start-button">Start timer</button>
        <button type="button" id="timer-stop-button">Stop timer</button>
      </div>



      <input type="submit">
    </form>
  </dialog>

  {% if log_items %}
  <datalist id="game-titles">
    {% for item in log_items %}
      {% if item.type == 'play' %} 
        <option>{{ item.log_name }}</option>
      {% endif %}
    {% endfor %}
  </datalist>
  {% endif %}

  <script>
    var stopwatch = document.getElementById('timer-stopwatch');
    var startButton = document.getElementById('timer-start-button');
    var stopButton = document.getElementById('timer-stop-button');
    var timerMinutes = document.getElementById('timer-stopwatch__minutes');
    var timerSeconds = document.getElementById('timer-stopwatch__seconds');
    var minutesField = document.getElementById('id_minutes_played');
    var counter = 0;
    var counting = false;

    stopwatch.style.display = "none";
    stopButton.style.display = "none";

    var t = window.setInterval(function() {
      if (counting) {
        counter++;
        var s = counter;
        convertSeconds(Math.floor(s));
      }
    }, 1000);

    startButton.addEventListener("click", function () {
      counting = true;
      startButton.style.display = "none";
      stopButton.style.display = "inline-flex";
      stopwatch.style.display = "inline-flex";
    });

    stopButton.addEventListener("click", function () {
      counting = false;
      stopButton.style.display = "none";
      startButton.style.display = "inline-flex";
      autofillMinutes();
      resetTimer();
    });

    function resetTimer() {
      counter = 0;
      timerMinutes.textContent = "00";
      timerSeconds.textContent = "00";
    }

    function convertSeconds(s) {
      var minutes = Math.floor(((s % 86400) % 3600) / 60);
      var seconds = ((s % 86400) % 3600) % 60;
      
      if (minutes < 10) {minutes = "0" + minutes;}
      if (seconds < 10) {seconds = "0" + seconds;}
      
      timerMinutes.textContent = minutes;
      timerSeconds.textContent = seconds;
    }

    function autofillMinutes() {
      var minutes = Math.floor(((counter % 86400) % 3600) / 60);
      minutesField.value = minutes;
    }
  </script>
  
{% endblock %}
