{% extends "layout.html" %}

{% block content %}

  <h1>Hello, {{ user.username }}</h1>

  <p>Balance: {{ balance }}</p>

  <button onclick="document.getElementById('log-work-dialog').showModal()">Log chore</button>
  
  {% if log_items %}
  <table>
    {% for item in log_items %}
    <tr class="{{item.type}}">
        <td>{{ item.log_name }}</td>
        <td>{{ item.date_logged }}</td>
        <td>{{ item.time_value }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  <a href="{% url 'full-log' username=user.username %}">View Full Log</a>

  <dialog id="log-work-dialog">
    <button autofocus onclick="this.closest('dialog').close()">Close</button>
    <form action="{% url 'log_chore' %}" method="post">
      {% csrf_token %}
      {{ log_work_form }}
      <input type="submit">
    </form>
  </dialog>
  
{% endblock %}