<!doctype html>
<html lang="en">
  <head>
    {% block title %}
      <title>Log</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://unpkg.com/open-props"/>
    <link rel="stylesheet" href="https://unpkg.com/open-props/normalize.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/open-props/buttons.min.css"/>
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script src="{% static 'js/scripts.js' %}"></script>
    <link rel="icon" type="image/png" href="{% static 'favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon.svg' %}" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}" />
    <meta name="apple-mobile-web-app-title" content="Log" />
    <link rel="manifest" href="{% static 'site.webmanifest' %}" />
  </head>
  <body>
        <nav class="main-nav">
          {% block nav %}
            <ul>
              <li><a href="{% url 'index' %}" class="backwards">Home</a></li>
              {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Log out</a></li>
              {% else %}
                <li><a href="{% url 'login' %}">Log in</a></li>                
              {% endif %}
            </ul>
          {% endblock %}
        </nav>
        <main>
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
          
          {% block content %}{% endblock %}
        
        </main>
  </body>
</html>